html, body {
  background-color: #cccdce;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0; 
}

.header {
  background-color: #fff;
  height: 140px;
  text-align: center;
}

.header h1 {
  color: #31363d;
  font-size: 32px;
  margin: 0px auto;
  position: relative;
  padding-bottom: 10px;
  text-transform: uppercase;
  top: 44px;
}

.nav ul {
  margin: 0 0 30px;
  text-align: center;
  padding: 20px 0px;
}
.nav ul li{
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0px 10px;
    cursor: pointer;
}

.nav li:hover {
    color: black;
    cursor: pointer;
    transition: color 1s;
}
.nav li {
  -webkit-transition:color 0.25s;
  transition:color 0.25s;
}

.nav li:hover {
  color: #31363d;
  cursor: pointer; 
  -webkit-transition: color 1s;
  transition: color 1s;
}

.footer-text{
    text-align: right;
    font-size: 10px;
    margin-top: 20px;
}
.row {
  margin-top: 30px;
}

@media (max-width: 500px) {
  .row {
    margin-top: 0;
  }
  .img-responsive {
    margin-bottom: 20px;
  }
}